#!/bin/bash
#
echo  'PerfCake run on: {{ ansible_host }}'
echo  'Duration = {{ duration }} iterations'
#
#
{% for host in groups['cassandras'] %}
echo   ' ==========================='
echo   '       IP = {{ host }}'
echo   'measure 1 = {{ mkout1 }} bytes'
echo   'measure 2 = {{ mkout2 }} bytes'
echo   "diff: $(( {{ mkout2 }} - {{ mkout1 }} )) bytes"

{% endfor %}

